

<form class="form-inline my-2 my-lg-0" onsubmit="return false;">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #filterCity>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="filerVehiculesByCity(filterCity.value)">Search</button>
  </form>
<div class="table-responsive">
    <table class="table table-bordered">
    <thead>
        <tr>
        <th> # </th>
        <th> name </th>
        <th> Progress </th>
        <th> Amount </th>
        <th> Deadline </th>
        <th> OP </th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicule of vehicules | paginate: config"  routerLink="/details/{{vehicule._id}}/detail">
            <td> 1 </td>
            <td> {{vehicule._id}} </td>
            <td> {{vehicule.County}} </td>
            <td> {{vehicule.City}} </td>
            <td> May 15, 2015 </td>
            <td>
                <i >
                    <img src="/assets/images/icons8-supprimer-30.png"  (click)="deleteClick($event,vehicule._id!)" alt="" srcset="">
                </i>
                <i routerLink="/details/{{vehicule._id}}/edit" (click)="editClick($event)">
                    <img src="/assets/images/icons8-edit-48.png" alt="" srcset="">
                </i>
            </td>
        </tr>
    </tbody>
    </table>
</div>

<pagination-template #p="paginationApi"
                     (pageChange)="config.currentPage = $event">

    <div class="ui pagination menu inverted">
            <a *ngIf="!p.isFirstPage()" class="item" [class.disabled]="p.isFirstPage()" (click)="p.previous()"> 
                <
            </a>


        <ng-container *ngFor="let page of p.pages">
            <a (click)="p.setCurrent(page.value)" class="item" [class.active]="p.getCurrent() === page.value">
                {{ page.label }}
            </a>
        </ng-container>


            <a *ngIf="!p.isLastPage()" class="item" (click)="p.next()" [class.disabled]="p.isLastPage()">
                >
            </a>
    </div>

</pagination-template>