
<h4 class="card-title">Bordered table</h4>
<p class="card-description"> Add class <code>.table-bordered</code>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
    <thead>
        <tr>
        <th> # </th>
        <th> name </th>
        <th> Progress </th>
        <th> Amount </th>
        <th> Deadline </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicule of vehicules" routerLink="/details/{{vehicule.id}}">
            <td> 1 </td>
            <td> {{vehicule.id}} </td>
            <td> {{vehicule.County}} </td>
            <td> {{vehicule.City}} </td>
            <td> May 15, 2015 </td>
        </tr>
    </tbody>
    </table>
</div>